@model IEnumerable<ONF.Portfolio.Domain.Entities.ProjectModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="card" style="width: 18rem;">
    <img src="~/Images/Project/ProjectLogo.png" class="card-img-top" alt="My Projects">
    <div class="card-body">
        <h5 class="card-title">My Projects</h5>
        <p class="card-text">Explore a collection of my projects, showcasing over 3 years of hands-on experience.</p>
        <a href="Project/Index" class="btn btn-primary">View Projects</a>
    </div>
</div>